@use "../../assets/styles/vars";

.dish {
  position: relative;
  background-color: vars.$main-white;
  height: 50px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  gap: 0.5rem;
  border: 1px solid vars.$light-gray;
  .medium {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
  }
  .bacteriaIcon {
    height: 30px;
    color: white;
  }
  .closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1rem;
  }
  &:hover {
    background-color: vars.$bg-beige;
  }
}

.active {
  background-color: vars.$bg-beige;
}

.expanded {
  width: 180px;
}

.collapsed {
  width: 80px;
}

.redText {
  font-size: 0.7rem;
  color: vars.$altey-red;
}

.greenText {
  font-size: 0.7rem;
  color: vars.$success;
}

.addElement {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.5rem;
  color: vars.$main-text;
  :hover {
    color: vars.$accent-orange;
  }
}

.addElementSmall {
  font-size: 1rem;
}

.red {
  background-color: vars.$altey-red;
}
.purple {
  background-color: vars.$altey-purple;
}
