@use "../../assets/styles/vars";

.colony {
  position: relative;
  background-color: vars.$main-white;
  // height: 50px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: 1px solid vars.$light-gray;
  img {
    height: 30px;
  }
  .colonyInfo {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 0.2rem;
    .bacteriaInfo {
      margin-left: 0.25rem;
      gap: 0.25rem;
      .bacteriaName {
        color: vars.$altey-red;
      }
    }
  }
  .dropdown {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1rem;
    color: vars.$main-text;
    :hover {
      color: vars.$accent-orange;
    }
  }
  .closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1rem;
  }
  &:hover {
    background-color: vars.$bg-beige;
  }
}
