@use "../../assets/styles/vars";
@use "sass:color";

.container {
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.cultureBox {
  display: flex;
  // flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  width: 100%;

  .dishList {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;

    .dish {
      position: relative;
      background-color: vars.$main-white;
      height: 50px;
      border-radius: 0.25rem;
      padding: 0.5rem;
      gap: 0.5rem;
      border: 1px solid vars.$light-gray;
      .medium {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        flex-shrink: 0;
      }
      .closeBtn {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1rem;
      }
      &:hover {
        background-color: vars.$bg-beige;
      }
    }
  }

  .results {
    overflow-y: auto;
    display: flex;
    height: 100%;
    flex-grow: 1;
    background-color: vars.$main-white;
    border-radius: 0.5rem;
    .colonySider {
      flex-shrink: 0;
      padding: 0 0.5rem;
      background-color: color.adjust(vars.$altey-blue, $lightness: 60%);
      .colonyList {
        flex-direction: column;
        gap: 0.5rem;
        .colony {
          position: relative;
          background-color: vars.$main-white;
          // height: 50px;
          border-radius: 0.25rem;
          padding: 0.5rem;
          border: 1px solid vars.$light-gray;
          img {
            height: 30px;
          }
          .colonyInfo {
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            gap: 0.2rem;
            .bacteriaInfo {
              margin-left: 0.25rem;
              gap: 0.25rem;
              .bacteriaName {
                color: vars.$altey-red;
              }
            }
          }
          .closeBtn {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 1rem;
          }
          &:hover {
            background-color: vars.$bg-beige;
          }
        }
      }
    }
    .resultBox {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 1rem;
      margin: 0 0.5rem;
    }
    .resultList {
      display: flex;
      gap: 0.5rem;
      transition: width 0.2s ease-in-out;
    }

    .resultHeader {
      display: flex;
      justify-content: space-between;
    }
  }
}

.red {
  background-color: vars.$altey-red;
}
.purple {
  background-color: vars.$altey-purple;
}

.expanded {
  width: 200px;
}

.collapsed {
  width: 90px;
}

.colony__expanded {
  width: 320px;
}

.colony__collapsed {
  width: 120px;
}

.sir {
  text-align: center;
}

.sir__green {
  background-color: color.adjust(vars.$success, $lightness: 50%);
}

.sir__red {
  background-color: color.adjust(vars.$altey-red, $lightness: 45%);
}

.sir__orange {
  background-color: color.adjust(vars.$accent-orange, $lightness: 20%);
}

.sir__purple {
  background-color: color.adjust(vars.$altey-purple, $lightness: 35%);
}

.sider {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .siderHeader {
    display: flex;
    justify-content: space-between;
  }
}

.addDish {
  font-size: 1.5rem;
  color: vars.$main-text;
  >span {
    background-color: vars.$main-white;
  }
  :hover {
    color: vars.$accent-orange;
  }
}

.addElement {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.5rem;
  color: vars.$main-text;
  :hover {
    color: vars.$accent-orange;
  }
}

.addElementSmall {
  font-size: 1rem;
}

.hidden {
  display: none !important;
}

.orderInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.redText {
  font-size: 0.7rem;
  color: vars.$altey-red;
}

.greenText {
  font-size: 0.7rem;
  color: vars.$success;
}

.bacteriaIcon {
  height: 30px;
  color: white;
}

.panel {
  border: 1px solid vars.$light-gray;
  border-bottom-left-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: color.adjust(vars.$light-gray, $lightness: 20%);
  .panelTest {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 45px;
    .cellBox {
      flex-grow: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.7rem;
      .cell {
        cursor: crosshair;
        width: 30px;
        height: 40px;
        border-radius: 50%;
        // border: 1px solid vars.$main-text;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        box-shadow:
          inset 0 1px 1px rgba(255, 255, 255, 0.7),
          inset 0 -1px 2px rgba(0, 0, 0, 0.35);
      }
    }
    .footer {
      flex-grow: 0;
      height: 1.5rem;
      justify-content: center;
      align-items: center;
      background: linear-gradient(360deg, rgba(232, 232, 232, 1) 91%, rgba(255, 255, 255, 1) 95%);
      box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    }
  }
}

.picker {
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 6.5rem;
  .option {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid vars.$light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: vars.$main-white;
    cursor: crosshair;
  }
}

.panelTestBlue {
  background-color: vars.$panel-test-blue !important;
  color: vars.$main-white !important;
}

.panelTestPurple {
  background-color: vars.$panel-test-purple !important;
  color: vars.$main-white !important;
}

.panelTestOrange {
  background-color: vars.$panel-test-orange !important;
  color: vars.$main-white !important;
}

.panelTestGreen {
  background-color: vars.$panel-test-green !important;
  color: vars.$main-white !important;
}

.panelTestNa {
  background-color: vars.$main-white;
  color: vars.$main-text !important;
}
