@use "../../assets/styles/vars";
@use "sass:color";

.container {
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .content {
    display: flex;
    flex-grow: 1;
    gap: 0.5rem;
    width: 100%;
    background-color: color.adjust(vars.$bg-blue, $lightness: 5%);
  }
}
