@use './assets//styles/vars';
@use './assets/styles/antd_override';
@use 'sass:color';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: vars.$main-text;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  background-color: color.adjust(vars.$bg-blue, $lightness: 7%);
  background-color: vars.$bg-blue;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}