$altey-blue: #2e396e;
$accent-blue: #0a185f;
$main-text: #31363F;
$accent-orange: #ffb352;
$altey-green: #007d5f;
$altey-turqoise: #00c6c3;
$bg-blue: #d3d6ec;
$bg-light-blue: #f4ecff;
$header-blue: #eaebf1;
$light-gray: #c2c2c2;
$bg-beige: #fffade;
$main-white: #ffffff;
$success: #3D9259;
$warning: #ef7158;
$altey-red: #c1121f;
$altey-purple: #B34B90;
$panel-test-blue: #3245a8;
$panel-test-purple: #9a32a8;
$panel-test-orange: #f7a85f;
$panel-test-green: #70ce3a;